body {
  background-color: black;
  text-align: center;
}
h1 {
  color: black;
  display: inline;
  width: 100px;
  border: 1px solid red;
  background-color: white;
}

.box {
  border: 2px solid red;
}
